<script src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
<script>
    console.log(' ##  CALLING FROM THE FOOTER ')
    var getTitle = "<%- title %>"
</script>
<footer>
    <p>© Cristopher Moreno</p>
</footer>