<div class="navbar">
  <div class="navbar-inner">
    <div class="container">

      <ul class="nav">

        <a href="/" class="pull-left"><img src="/images/logo.png"
            style="max-width:70px;width:100%; margin-top:0px;"></a>

        <% if (title=="Home"){ %>
        <li class="active" style="margin-top:3px;"><a href="/">Home</a></li>
        <% }else{ %>
        <li style="margin-top:3px;"><a href="/">Home</a></li>
        <% }%>

        <% if (title=="About"){ %>
        <li class="active" style="margin-top:3px;"><a href="/about">About</a></li>
        <% }else{ %>
        <li style="margin-top:3px;"><a href="/about">About</a></li>
        <% }%>

        <% if (title=="Projects"){ %>
        <li class="active" style="margin-top:3px;"><a href="/projects">Projects</a></li>
        <% }else{ %>
        <li style="margin-top:3px;"><a href="/projects">Projects</a></li>
        <% }%>

        <% if (title=="Services"){ %>
        <li class="active" style="margin-top:3px;"><a href="/services">Services</a></li>
        <% }else{ %>
        <li style="margin-top:3px;"><a href="/services">Services</a></li>
        <% }%>

        <% if (title=="Contact"){ %>
        <li class="active" style="margin-top:3px;"><a href="/contact">Contact</a></li>
        <% }else{ %>
        <li style="margin-top:3px;"><a href="/contact">Contact</a></li>
        <% }%>

      </ul>
      <% if (typeof userName != 'undefined') { %>
      <!-- <a class="nav-link" href="/users/signout" onclick="return confirm('Are you sure?')">Sign Out (<%= userName %>)</a> -->
      <a class="pull-right btn btn-success btn-large" style="max-width:60px;max-height:30px;margin-bottom: 5px;"
        href="/users/signout">Sign out</a>
      <% } else { %>
      <a class="pull-right btn btn-success btn-large" style="max-width:60px;max-height:30px;margin-bottom: 5px;"
        href="/users/signin">Sign in</a>
      <% } %>
    </div>
  </div>
</div>