<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <div class="container">
      <div class="wrapper-home">
         <div class="hero-unit">
           
            <h1>Hi.</h1>
            <h1>I'm Cristopher Moreno</h1>
            <p>Mechanical Engineer | Software Developer | Artificial Intelligence Developer</p>
            <blockquote >
              <p>Mission Statement</p>
              <p>My mission is to contribute within the IT industry with the vision of make a positive social impact</p>
              <p>We can not solve our problems with the same thinking we used when we created them</p>
          </blockquote>
            <p>
              <a class="btn btn-primary btn-large" href="/about">
                About Me
              </a>
            </p>
          </div>
      </div>
     
    </div>
    <%- include('../partials/footer'); %>
  </body>
</html>
