<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <header>
    <%- include('../partials/header'); %>
  </header>

  <div>

  </div>
  <div class="hero-unit">
    <h1>
      <%= title %>
    </h1>
  </div>
 
  <div id="projects_final" style="flex-wrap: wrap;   display: flex;">

    <div class="row-fluid projects_wrapper">
      <div class="container">
        <div class="row">
          <div class="box">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="/images/ica.png">

              <div id="project1" class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Project</h5>
                  <p class="card-text">ICA Planilla</p>
                  <h5 class="card-title">Description</h5>
                  <p class="card-text">A web based app to manage a primary school administrative operations</p>
                  <h5 class="card-title">Role</h5>
                  <p class="card-text">Database Analyst</p>
                  <h5 class="card-title">Outcome</h5>
                  <p class="card-text">Improved control of administrative task at a panamanian educational institution
                  </p>
                </div>
              </div>

            </div>
          </div>
          <div class="box">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="/images/dah.jpg">

              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Project</h5>
                  <p class="card-text">Doctor's At Home</p>
                  <h5 class="card-title">Description</h5>
                  <p class="card-text">A mobile app that facilitate medical appointments at home</p>
                  <h5 class="card-title">Role</h5>
                  <p class="card-text">Database Analyst</p>
                  <h5 class="card-title">Outcome</h5>
                  <p class="card-text">Increased profit margins within the organization</p>
                </div>
              </div>

            </div>
          </div>

          <div class="box">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="/images/octane.png">

              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Project</h5>
                  <p class="card-text">Octane</p>
                  <h5 class="card-title">Description</h5>
                  <p class="card-text">A mobile app that implements AI to perform predictions based on retrieved data
                    from
                    petrol engine vehicles</p>
                  <h5 class="card-title">Role</h5>
                  <p class="card-text">Lead Developer</p>
                  <h5 class="card-title">Outcome</h5>
                  <p class="card-text">-- work in progress --</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <%- include('../partials/footer'); %>
</body>

</html>